.table-striped thead {
	color: #ffff;
	background-color: #00a65a;
}
img.small{
    width: 150px; height: 150px;
}
.modal {
    text-align: center;
}
/* CSS Listado de categorías en Stock*/
.box-header{
    text-align: center;
}
/* Termina CSS Listado de categorías en Stock*/
.modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}
.modal-dialog .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #ffff;
}
.modal-dialog .icon-box i {
    color: #ffff;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
}
.modal-dialog .modal-body h4 {
    font-weight: bold;
}
/* Estilos referentes al Chechbox */
.switch{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}
.switch input {
    display:none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom:2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #00a65a;
}
input:focus + .slider {
    box-shadow: 0 0 1px #00a65a;
}
input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
.slider.round {
    border-radius: 17px;
}
.slider.round:before {
    border-radius: 50%;
}
/* Termina estilos referentes al Chechbox */